body {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    background-color: #FAFAFA;
    color: #333;
}

.signup_form {
    width: 300px; /* 너비를 조정하여 중앙에 정렬할 수 있도록 */
    margin: 0 auto; /* 가로 방향으로 중앙에 정렬 */
    padding: 2em;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* 텍스트와 이미지 가운데 정렬 */
}

.signup_form img.signup_image {
    width: 100px; /* 이미지 너비를 조정 */
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 1em;
}

.signup_form h3 {
    margin-bottom: 1em;
}

.signup_form div {
    margin-bottom: 1em;
}

.signup_form input {
    width: calc(100% - 2em);
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    padding: 0 1em;
    box-sizing: border-box;
}

.signup_form button {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3B5998;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5em;
}

.signup_form button:hover {
    background-color: #333;
}

button {
    margin-bottom: 1em;
}

.users {
    float: right;
    margin-right: 30%;
    color: #3B5998;
    font-weight: bold;
}

.messages {
    width: 500px;
    height: 400px;
    margin: auto;
    border: 1px solid #E0E0E0;
    padding: 1em;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto;
}

.message_form,
.change_name_form {
    padding: 1em;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textinput {
    margin-left: 3%;
    width: calc(100% - 6%);
    height: 50px; /* 높이를 50px로 증가 */
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 18px; /* 글자 크기를 18px로 증가 */
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
}

.textinput:focus {
    border-color: #3B5998;
}


.appbox {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
    overflow: hidden; /* 스크롤 제거 */
}

.roomlist {
    height: 100%;
    width: 90%; 
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;
    overflow-y: auto;
}

.center {
    width: 60%; /* 변경: 70%에서 60%로 */
    height: 100%;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #3B5998;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}
